USE [master]
GO
/****** Object:  Database [ProyectoVitromanteEjemplo1]    Script Date: 11/19/2018 21:25:10 ******/
CREATE DATABASE [ProyectoVitromanteEjemplo1] ON  PRIMARY 
( NAME = N'ProyectoVitromanteEjemplo1', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ProyectoVitromanteEjemplo1.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ProyectoVitromanteEjemplo1_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\ProyectoVitromanteEjemplo1_log.ldf' , SIZE = 1792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProyectoVitromanteEjemplo1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProyectoVitromanteEjemplo1]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 11/19/2018 21:25:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bitacora](
	[Usuario] [varchar](50) NULL,
	[Fecha] [datetime] NULL,
	[Tabla] [varchar](50) NULL,
	[Accion] [varchar](30) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Bitacora] ([Usuario], [Fecha], [Tabla], [Accion]) VALUES (N'MUSKI\Andre', CAST(0x0000A99500D94130 AS DateTime), N'Ingresos', N'Elminación')
INSERT [dbo].[Bitacora] ([Usuario], [Fecha], [Tabla], [Accion]) VALUES (N'MUSKI\Andre', CAST(0x0000A995010ED020 AS DateTime), N'Clientes', N'Modificación')
INSERT [dbo].[Bitacora] ([Usuario], [Fecha], [Tabla], [Accion]) VALUES (N'MUSKI\Andre', CAST(0x0000A995010F5CC0 AS DateTime), N'Clientes', N'Inserción')
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[Ingresos]    Script Date: 11/19/2018 21:25:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ingresos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Monto] [float] NOT NULL,
	[Fecha] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Ingresos__3213E83F35BCFE0A] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Ingresos] ON
INSERT [dbo].[Ingresos] ([ID], [Descripcion], [Monto], [Fecha]) VALUES (1, N'Ingreso de acreedoresss', 150.555, N'domingo, 18 de noviembre de 2018')
INSERT [dbo].[Ingresos] ([ID], [Descripcion], [Monto], [Fecha]) VALUES (8, N'a', 9, N'lunes, 19 de noviembre de 2018')
SET IDENTITY_INSERT [dbo].[Ingresos] OFF
/****** Object:  Table [dbo].[Productos]    Script Date: 11/19/2018 21:25:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Productos](
	[ID] [varchar](50) NOT NULL,
	[Producto] [varchar](50) NULL,
	[Costo Unitario] [float] NULL,
	[Precio] [float] NULL,
	[Utilidad] [float] NULL,
	[Cantidad] [int] NULL,
	[Descripcion] [varchar](100) NULL,
	[Unidad De Medida] [varchar](50) NULL,
 CONSTRAINT [ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Productos] ([ID], [Producto], [Costo Unitario], [Precio], [Utilidad], [Cantidad], [Descripcion], [Unidad De Medida]) VALUES (N'0001', N'CRISTALES PARA VENTANA', 0, 0, 0, 13, N'Cristal', N'Mts.')
INSERT [dbo].[Productos] ([ID], [Producto], [Costo Unitario], [Precio], [Utilidad], [Cantidad], [Descripcion], [Unidad De Medida]) VALUES (N'0002', N'Lamina', 0, 0, 0, 1, NULL, NULL)
INSERT [dbo].[Productos] ([ID], [Producto], [Costo Unitario], [Precio], [Utilidad], [Cantidad], [Descripcion], [Unidad De Medida]) VALUES (N'1001', N'PUERTA DE TAMBOR', 0, 0, 0, 0, NULL, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
GO
print 'Processed 2600 total records'
GO
print 'Processed 2700 total records'
GO
print 'Processed 2800 total records'
GO
print 'Processed 2900 total records'
GO
print 'Processed 3000 total records'
GO
print 'Processed 3100 total records'
GO
print 'Processed 3200 total records'
GO
print 'Processed 3300 total records'
GO
print 'Processed 3400 total records'
GO
print 'Processed 3500 total records'
GO
print 'Processed 3600 total records'
GO
print 'Processed 3700 total records'
GO
print 'Processed 3800 total records'
GO
print 'Processed 3900 total records'
GO
print 'Processed 4000 total records'
GO
print 'Processed 4100 total records'
GO
print 'Processed 4200 total records'
GO
print 'Processed 4300 total records'
/****** Object:  Table [dbo].[Pedidos]    Script Date: 11/19/2018 21:25:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pedidos](
	[IDPedido] [int] NOT NULL,
	[Cliente] [varchar](100) NULL,
	[Domicilio] [varchar](50) NOT NULL,
	[IDProducto] [varchar](30) NULL,
	[Producto] [varchar](50) NULL,
	[Precio] [float] NULL,
	[Telefono] [varchar](15) NOT NULL,
	[FechaPedido] [varchar](50) NULL,
	[FechaEntrega] [varchar](50) NULL,
	[Cantidad] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Pedidos] ([IDPedido], [Cliente], [Domicilio], [IDProducto], [Producto], [Precio], [Telefono], [FechaPedido], [FechaEntrega], [Cantidad]) VALUES (1, N'Andre', N'Hidalgo', N'1001', N'Ventana', NULL, N'831113', N'131018', N'181018', NULL)
INSERT [dbo].[Pedidos] ([IDPedido], [Cliente], [Domicilio], [IDProducto], [Producto], [Precio], [Telefono], [FechaPedido], [FechaEntrega], [Cantidad]) VALUES (2, N'Brian Ibarra Perez', N'Hidalgo 1410 Independencia El Mante', N'0002', N'VENTANA DE PVC BLANCO  1.20 X 1.20 CUAD SIMUL.', 0, N'8311199934', N'domingo, 14 de octubre de 2018', N'miércoles, 24 de octubre de 2018', NULL)
INSERT [dbo].[Pedidos] ([IDPedido], [Cliente], [Domicilio], [IDProducto], [Producto], [Precio], [Telefono], [FechaPedido], [FechaEntrega], [Cantidad]) VALUES (3, N'Brian Ibarra Perez', N'Hidalgo 1410 Independencia El Mante', N'0001', N'CRISTALES PARA VENTANA', 0, N'8311199934', N'domingo, 14 de octubre de 2018', N'miércoles, 24 de octubre de 2018', NULL)
/****** Object:  Table [dbo].[Pagos]    Script Date: 11/19/2018 21:25:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Pagos](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Monto] [float] NOT NULL,
	[Fecha] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Pagos__3213E83F31EC6D26] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Pagos] ON
INSERT [dbo].[Pagos] ([ID], [Descripcion], [Monto], [Fecha]) VALUES (22, N'Otross', 100, N'domingo, 18 de noviembre de 2018')
SET IDENTITY_INSERT [dbo].[Pagos] OFF
/****** Object:  Table [dbo].[Clientes]    Script Date: 11/19/2018 21:25:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido Paterno] [varchar](50) NULL,
	[Apellido Materno] [varchar](50) NULL,
	[Calle] [varchar](50) NULL,
	[NumCasa] [varchar](10) NULL,
	[Colonia] [varchar](50) NULL,
	[Codigo Postal] [varchar](50) NULL,
	[Ciudad] [varchar](50) NULL,
	[Estado] [varchar](50) NULL,
	[Telefono] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
 CONSTRAINT [PK__Clientes__3214EC077F60ED59] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON
INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido Paterno], [Apellido Materno], [Calle], [NumCasa], [Colonia], [Codigo Postal], [Ciudad], [Estado], [Telefono], [Email]) VALUES (7, N'Andre', N'Ibarra', N'Perezz', N'Hidalgo', N'1410', N'Independencia', N'89888', N'El Mante', N'Tamaulipas', N'8311131562', N'sk8muski@gmail.com')
INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido Paterno], [Apellido Materno], [Calle], [NumCasa], [Colonia], [Codigo Postal], [Ciudad], [Estado], [Telefono], [Email]) VALUES (11, N'Brian', N'Ibarra', N'Perez', N'Hidalgo', N'1410', N'Independencia', N'89888', N'El Mante', N'Tamaulipad', N'8311199934', N'brian_rayking@hotmail.com')
INSERT [dbo].[Clientes] ([Id], [Nombre], [Apellido Paterno], [Apellido Materno], [Calle], [NumCasa], [Colonia], [Codigo Postal], [Ciudad], [Estado], [Telefono], [Email]) VALUES (12, N'Enrique', N'Ibarra', N'Ibarra', N'Hidalgo', N'1410', N'Independencia', N'4', N'El Mante', N'Tamaulipas', N'8312340631', N'sad')
SET IDENTITY_INSERT [dbo].[Clientes] OFF
/****** Object:  StoredProcedure [dbo].[MostrarBitacora]    Script Date: 11/19/2018 21:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[MostrarBitacora]
as
select * from Bitacora order by Fecha
GO
/****** Object:  StoredProcedure [dbo].[MFBitacora]    Script Date: 11/19/2018 21:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[MFBitacora]
@Fecha varchar(30)
as
select * from Bitacora where Convert(varchar,fecha,103)=@Fecha order by Fecha
GO
/****** Object:  StoredProcedure [dbo].[InsertarProductos]    Script Date: 11/19/2018 21:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[InsertarProductos]
@id varchar(50),
@producto varchar(100),
@costounitario float,
@precio float,
@utilidad float,
@cantidad int,
@descripcion varchar(200),
@unidad varchar(10)
as
insert into Productos values(@id,@producto,@costounitario,@precio,@utilidad,@cantidad,@descripcion,@unidad)
GO
/****** Object:  StoredProcedure [dbo].[InsertarPedidos]    Script Date: 11/19/2018 21:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[InsertarPedidos]
@IDPedido varchar(30),
@Cliente varchar(50),
@Domicilio varchar(100),
@IDProducto varchar(30),
@Producto varchar(50),
@Precio float,
@Telefono varchar(20),
@FechaPedido varchar(50),
@FechaEntrega varchar(50),
@Cantidad varchar(10)
as
insert into Pedidos values(@IDPedido,@Cliente,@Domicilio,@IDProducto,@Producto,@Precio,@Telefono,@FechaPedido,@FechaEntrega,@Cantidad)
GO
/****** Object:  StoredProcedure [dbo].[InsertarPagos]    Script Date: 11/19/2018 21:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[InsertarPagos]
@Descripcion varchar(100),
@Monto float,
@Fecha varchar(50)
as
insert into Pagos values(@Descripcion,@Monto,@Fecha)
GO
/****** Object:  StoredProcedure [dbo].[InsertarIngresos]    Script Date: 11/19/2018 21:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[InsertarIngresos]
@Descripcion varchar(100),
@Monto float,
@Fecha varchar(50)
as
insert into Ingresos values(@Descripcion,@Monto,@Fecha)
GO
/****** Object:  StoredProcedure [dbo].[InsertarClientess]    Script Date: 11/19/2018 21:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[InsertarClientess]
@nombre varchar(50),
@ApP varchar(50),
@ApM varchar(50),
@calle varchar(50),
@ncasa varchar(10),
@colonia varchar(50),
@cp varchar(10),
@ciudad varchar(50),
@estado varchar(50),
@telefono varchar(15),
@email varchar(50)
as 
insert into Clientes values(@nombre,@ApP,@ApM,@calle,@ncasa,@colonia,@cp,@ciudad,@estado,@telefono,@email)
GO
/****** Object:  Trigger [TriggerModificarProductos]    Script Date: 11/19/2018 21:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Trigger [dbo].[TriggerModificarProductos] on [dbo].[Productos]
after update
as 
declare
@Usuario varchar(50)=SUser_Name(), 
@Fecha varchar(50)=getdate(),
@Tabla varchar(50)='Productos',
@Accion varchar(30)='Modificación'
insert into Bitacora values(@Usuario,@Fecha,@Tabla,@Accion)
GO
/****** Object:  Trigger [TriggerModificarPedidos]    Script Date: 11/19/2018 21:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Trigger [dbo].[TriggerModificarPedidos] on [dbo].[Pedidos]
after update
as 
declare
@Usuario varchar(50)=SUser_Name(), 
@Fecha varchar(50)=getdate(),
@Tabla varchar(50)='Pedidos',
@Accion varchar(30)='Modificación'
insert into Bitacora values(@Usuario,@Fecha,@Tabla,@Accion)
GO
/****** Object:  Trigger [TriggerModificarPagos]    Script Date: 11/19/2018 21:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Trigger [dbo].[TriggerModificarPagos] on [dbo].[Pagos]
after update
as 
declare
@Usuario varchar(50)=SUser_Name(), 
@Fecha varchar(50)=getdate(),
@Tabla varchar(50)='Pagos',
@Accion varchar(30)='Modificación'
insert into Bitacora values(@Usuario,@Fecha,@Tabla,@Accion)
GO
/****** Object:  Trigger [TriggerModificarIngresos]    Script Date: 11/19/2018 21:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Trigger [dbo].[TriggerModificarIngresos] on [dbo].[Ingresos]
after update
as 
declare
@Usuario varchar(50)=SUser_Name(), 
@Fecha varchar(50)=getdate(),
@Tabla varchar(50)='Ingresos',
@Accion varchar(30)='Modificación'
insert into Bitacora values(@Usuario,@Fecha,@Tabla,@Accion)
GO
/****** Object:  Trigger [TriggerModificarClientes]    Script Date: 11/19/2018 21:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Trigger [dbo].[TriggerModificarClientes] on [dbo].[Clientes]
after update
as 
declare
@Usuario varchar(50)=SUser_Name(), 
@Fecha varchar(50)=getdate(),
@Tabla varchar(50)='Clientes',
@Accion varchar(30)='Modificación'
insert into Bitacora values(@Usuario,@Fecha,@Tabla,@Accion)
GO
/****** Object:  Trigger [TriggerInsertarProductos]    Script Date: 11/19/2018 21:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Trigger [dbo].[TriggerInsertarProductos] on [dbo].[Productos]
after insert 
as 
declare
@Usuario varchar(50)=SUser_Name(), 
@Fecha varchar(50)=getdate(),
@Tabla varchar(50)='Productos',
@Accion varchar(30)='Inserción'
insert into Bitacora values(@Usuario,@Fecha,@Tabla,@Accion)
GO
/****** Object:  Trigger [TriggerInsertarPedidos]    Script Date: 11/19/2018 21:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Trigger [dbo].[TriggerInsertarPedidos] on [dbo].[Pedidos]
after insert 
as 
declare
@Usuario varchar(50)=SUser_Name(), 
@Fecha varchar(50)=getdate(),
@Tabla varchar(50)='Pedidos',
@Accion varchar(30)='Inserción'
insert into Bitacora values(@Usuario,@Fecha,@Tabla,@Accion)
GO
/****** Object:  Trigger [TriggerInsertarPagos]    Script Date: 11/19/2018 21:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Trigger [dbo].[TriggerInsertarPagos] on [dbo].[Pagos]
after insert 
as 
declare
@Usuario varchar(50)=SUser_Name(), 
@Fecha varchar(50)=getdate(),
@Tabla varchar(50)='Pagos',
@Accion varchar(30)='Inserción'
insert into Bitacora values(@Usuario,@Fecha,@Tabla,@Accion)
GO
/****** Object:  Trigger [TriggerInsertarIngresos]    Script Date: 11/19/2018 21:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Trigger [dbo].[TriggerInsertarIngresos] on [dbo].[Ingresos]
after insert 
as 
declare
@Usuario varchar(50)=SUser_Name(), 
@Fecha varchar(50)=getdate(),
@Tabla varchar(50)='Ingresos',
@Accion varchar(30)='Inserción'
insert into Bitacora values(@Usuario,@Fecha,@Tabla,@Accion)
GO
/****** Object:  Trigger [TriggerInsertarClientes]    Script Date: 11/19/2018 21:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Trigger [dbo].[TriggerInsertarClientes] on [dbo].[Clientes]
after insert 
as 
declare
@Usuario varchar(50)=SUser_Name(), 
@Fecha varchar(50)=getdate(),
@Tabla varchar(50)='Clientes',
@Accion varchar(30)='Inserción'
insert into Bitacora values(@Usuario,@Fecha,@Tabla,@Accion)
GO
/****** Object:  Trigger [TriggerEliminarProductos]    Script Date: 11/19/2018 21:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Trigger [dbo].[TriggerEliminarProductos] on [dbo].[Productos]
after delete
as 
declare
@Usuario varchar(50)=SUser_Name(), 
@Fecha varchar(50)=getdate(),
@Tabla varchar(50)='Productos',
@Accion varchar(30)='Elminación'
insert into Bitacora values(@Usuario,@Fecha,@Tabla,@Accion)
GO
/****** Object:  Trigger [TriggerEliminarPedidos]    Script Date: 11/19/2018 21:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Trigger [dbo].[TriggerEliminarPedidos] on [dbo].[Pedidos]
after delete
as 
declare
@Usuario varchar(50)=SUser_Name(), 
@Fecha varchar(50)=getdate(),
@Tabla varchar(50)='Pedidos',
@Accion varchar(30)='Elminación'
insert into Bitacora values(@Usuario,@Fecha,@Tabla,@Accion)
GO
/****** Object:  Trigger [TriggerEliminarPagos]    Script Date: 11/19/2018 21:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Trigger [dbo].[TriggerEliminarPagos] on [dbo].[Pagos]
after delete
as 
declare
@Usuario varchar(50)=SUser_Name(), 
@Fecha varchar(50)=getdate(),
@Tabla varchar(50)='Pagos',
@Accion varchar(30)='Elminación'
insert into Bitacora values(@Usuario,@Fecha,@Tabla,@Accion)
GO
/****** Object:  Trigger [TriggerEliminarIngresos]    Script Date: 11/19/2018 21:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Trigger [dbo].[TriggerEliminarIngresos] on [dbo].[Ingresos]
after delete
as 
declare
@Usuario varchar(50)=SUser_Name(), 
@Fecha varchar(50)=getdate(),
@Tabla varchar(50)='Ingresos',
@Accion varchar(30)='Elminación'
insert into Bitacora values(@Usuario,@Fecha,@Tabla,@Accion)
GO
/****** Object:  Trigger [TriggerEliminarClientes]    Script Date: 11/19/2018 21:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create Trigger [dbo].[TriggerEliminarClientes] on [dbo].[Clientes]
after delete
as 
declare
@Usuario varchar(50)=SUser_Name(), 
@Fecha varchar(50)=getdate(),
@Tabla varchar(50)='Clientes',
@Accion varchar(30)='Elminación'
insert into Bitacora values(@Usuario,@Fecha,@Tabla,@Accion)
GO
/****** Object:  StoredProcedure [dbo].[MostrarProductos]    Script Date: 11/19/2018 21:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[MostrarProductos]
as
Select * from Productos
GO
/****** Object:  StoredProcedure [dbo].[MostrarPagos]    Script Date: 11/19/2018 21:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[MostrarPagos]

as
select * from Pagos
GO
/****** Object:  StoredProcedure [dbo].[MostrarIngresos]    Script Date: 11/19/2018 21:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[MostrarIngresos]
as
select * from Ingresos
GO
/****** Object:  StoredProcedure [dbo].[MostrarClientes]    Script Date: 11/19/2018 21:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[MostrarClientes]
as select * from Clientes
GO
/****** Object:  StoredProcedure [dbo].[EliminarProducto]    Script Date: 11/19/2018 21:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[EliminarProducto]
@id varchar(50)
as
delete from Productos where ID=@id
GO
/****** Object:  StoredProcedure [dbo].[EliminarPagos]    Script Date: 11/19/2018 21:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[EliminarPagos]
@ID int
as
delete from Pagos where ID=@ID;
GO
/****** Object:  StoredProcedure [dbo].[EliminarIngresos]    Script Date: 11/19/2018 21:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[EliminarIngresos]
@ID int
as
delete from Ingresos where ID=@ID;
GO
/****** Object:  StoredProcedure [dbo].[EliminarClientess]    Script Date: 11/19/2018 21:25:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[EliminarClientess]
@id int
as
delete from Clientes where id=@id
GO
/****** Object:  StoredProcedure [dbo].[EditarProductos]    Script Date: 11/19/2018 21:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[EditarProductos]
@id varchar(50),
@producto varchar(100),
@costounitario float,
@precio float,
@utilidad float,
@cantidad int,
@descripcion varchar(100),
@unidad varchar(10),
@nid varchar(50)
as 
update Productos set ID=id, Producto=@producto, [Costo Unitario]=@costounitario,Precio=@precio,
Utilidad=@utilidad,Cantidad=@cantidad,Descripcion=@descripcion,[Unidad De Medida]=@unidad 
where ID=@nid
GO
/****** Object:  StoredProcedure [dbo].[EditarPagos]    Script Date: 11/19/2018 21:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[EditarPagos]
@ID int,
@Descripcion varchar(100),
@Monto float,
@Fecha varchar(50)
as
update Pagos set Descripcion=@Descripcion,Monto=@Monto,Fecha=@Fecha where ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[EditarIngresos]    Script Date: 11/19/2018 21:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[EditarIngresos]
@ID int,
@Descripcion varchar(100),
@Monto float,
@Fecha varchar(50)
as
update Ingresos set Descripcion=@Descripcion,Monto=@Monto,Fecha=@Fecha where ID=@ID
GO
/****** Object:  StoredProcedure [dbo].[EditarClientess]    Script Date: 11/19/2018 21:25:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[EditarClientess]
@id int,
@nombre varchar(50),
@ApP varchar(50),
@ApM varchar(50),
@calle varchar(50),
@ncasa varchar(10),
@colonia varchar(50),
@cp varchar(10),
@ciudad varchar(50),
@estado varchar(50),
@telefono varchar(15),
@email varchar(50)
as 
update Clientes set Nombre=@nombre,[Apellido Paterno]=@ApP,
[Apellido Materno]=@ApM,Calle=@calle,NumCasa=@ncasa,Colonia=@colonia,[Codigo Postal]=@cp,
Ciudad=@ciudad,Estado=@estado,Telefono=@telefono,Email=@email
where Id=@id
GO
